
<script>

// File: app.js
var template = require("dialog.html.twig");
// => returns pre-compiled template as a function and automatically includes Twig.js to your project

var html = template({title: 'dialog title'});
// => Render the view with the given context
</script>


<h1> test twig 01 </h1>
<p>....///{{title}}///...</p>